package-db: /home/cutsea110/devel/yesod/tut/cabal-dev/packages-7.0.3.conf
local-repo: /home/cutsea110/devel/yesod/tut/cabal-dev/packages
user-install: False
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: /home/cutsea110/.cabal/packages
world-file: /home/cutsea110/.cabal/world
build-summary: /home/cutsea110/devel/yesod/tut/cabal-dev/logs/build.log
remote-build-reporting: anonymous
install-dirs user
  prefix: /home/cutsea110/devel/yesod/tut/cabal-dev/
install-dirs global
  prefix: /home/cutsea110/devel/yesod/tut/cabal-dev/